Import data

In [1]:
import pandas as pd
import os

# Path to data
data_path = '../data/Data/'

Load data

In [2]:
# Create an empty list to store DataFrames
dataframes = []
index = 0

# Traverse through user directories
for user_folder in os.listdir(data_path):
	user_folder_path = os.path.join(data_path, user_folder)

	# Check if it's a directory
	if os.path.isdir(user_folder_path):
		trajectory_dir = os.path.join(user_folder_path, 'Trajectory')
		
		# Check if 'Trajectory' directory exists
		if os.path.exists(trajectory_dir) and os.path.isdir(trajectory_dir):
			# Loop through trajectory files for each user
			print(trajectory_dir)
			for trajectory_file in os.listdir(trajectory_dir):
				if trajectory_file.endswith('.plt'):
					trajectory_file_path = os.path.join(trajectory_dir, trajectory_file)
					
					df = pd.read_csv(trajectory_file_path, header=None, skiprows=6)
					df.insert(0, 'person', index)
					dataframes.append(df)
					index += 1

./data/Data/000\Trajectory
./data/Data/001\Trajectory
./data/Data/002\Trajectory
./data/Data/003\Trajectory
./data/Data/004\Trajectory
./data/Data/005\Trajectory
./data/Data/006\Trajectory
./data/Data/007\Trajectory
./data/Data/008\Trajectory
./data/Data/009\Trajectory
./data/Data/010\Trajectory
./data/Data/011\Trajectory
./data/Data/012\Trajectory
./data/Data/013\Trajectory
./data/Data/014\Trajectory
./data/Data/015\Trajectory
./data/Data/016\Trajectory
./data/Data/017\Trajectory
./data/Data/018\Trajectory
./data/Data/019\Trajectory
./data/Data/020\Trajectory
./data/Data/021\Trajectory
./data/Data/022\Trajectory
./data/Data/023\Trajectory
./data/Data/024\Trajectory
./data/Data/025\Trajectory
./data/Data/026\Trajectory
./data/Data/027\Trajectory
./data/Data/028\Trajectory
./data/Data/029\Trajectory
./data/Data/030\Trajectory
./data/Data/031\Trajectory
./data/Data/032\Trajectory
./data/Data/033\Trajectory
./data/Data/034\Trajectory
./data/Data/035\Trajectory
./data/Data/036\Trajectory
./data/Data/037\Trajectory
./data/Data/038\Trajectory
./data/Data/039\Trajectory
./data/Data/040\Trajectory
./data/Data/041\Trajectory
./data/Data/042\Trajectory
./data/Data/043\Trajectory
./data/Data/044\Trajectory
./data/Data/045\Trajectory
./data/Data/046\Trajectory
./data/Data/047\Trajectory
./data/Data/048\Trajectory
./data/Data/049\Trajectory
./data/Data/050\Trajectory
./data/Data/051\Trajectory
./data/Data/052\Trajectory
./data/Data/053\Trajectory
./data/Data/054\Trajectory
./data/Data/055\Trajectory
./data/Data/056\Trajectory
./data/Data/057\Trajectory
./data/Data/058\Trajectory
./data/Data/059\Trajectory
./data/Data/060\Trajectory
./data/Data/061\Trajectory
./data/Data/062\Trajectory
./data/Data/063\Trajectory
./data/Data/064\Trajectory
./data/Data/065\Trajectory
./data/Data/066\Trajectory
./data/Data/067\Trajectory
./data/Data/068\Trajectory
./data/Data/069\Trajectory
./data/Data/070\Trajectory
./data/Data/071\Trajectory
./data/Data/072\Trajectory
./data/Data/073\Trajectory
./data/Data/074\Trajectory
./data/Data/075\Trajectory
./data/Data/076\Trajectory
./data/Data/077\Trajectory
./data/Data/078\Trajectory
./data/Data/079\Trajectory
./data/Data/080\Trajectory
./data/Data/081\Trajectory
./data/Data/082\Trajectory
./data/Data/083\Trajectory
./data/Data/084\Trajectory
./data/Data/085\Trajectory
./data/Data/086\Trajectory
./data/Data/087\Trajectory
./data/Data/088\Trajectory
./data/Data/089\Trajectory
./data/Data/090\Trajectory
./data/Data/091\Trajectory
./data/Data/092\Trajectory
./data/Data/093\Trajectory
./data/Data/094\Trajectory
./data/Data/095\Trajectory
./data/Data/096\Trajectory
./data/Data/097\Trajectory
./data/Data/098\Trajectory
./data/Data/099\Trajectory
./data/Data/100\Trajectory
./data/Data/101\Trajectory
./data/Data/102\Trajectory
./data/Data/103\Trajectory
./data/Data/104\Trajectory
./data/Data/105\Trajectory
./data/Data/106\Trajectory
./data/Data/107\Trajectory
./data/Data/108\Trajectory
./data/Data/109\Trajectory
./data/Data/110\Trajectory
./data/Data/111\Trajectory
./data/Data/112\Trajectory
./data/Data/113\Trajectory
./data/Data/114\Trajectory
./data/Data/115\Trajectory
./data/Data/116\Trajectory
./data/Data/117\Trajectory
./data/Data/118\Trajectory
./data/Data/119\Trajectory
./data/Data/120\Trajectory
./data/Data/121\Trajectory
./data/Data/122\Trajectory
./data/Data/123\Trajectory
./data/Data/124\Trajectory
./data/Data/125\Trajectory
./data/Data/126\Trajectory
./data/Data/127\Trajectory
./data/Data/128\Trajectory
./data/Data/129\Trajectory
./data/Data/130\Trajectory
./data/Data/131\Trajectory
./data/Data/132\Trajectory
./data/Data/133\Trajectory
./data/Data/134\Trajectory
./data/Data/135\Trajectory
./data/Data/136\Trajectory
./data/Data/137\Trajectory
./data/Data/138\Trajectory
./data/Data/139\Trajectory
./data/Data/140\Trajectory
./data/Data/141\Trajectory
./data/Data/142\Trajectory
./data/Data/143\Trajectory
./data/Data/144\Trajectory
./data/Data/145\Trajectory
./data/Data/146\Trajectory
./data/Data/147\Trajectory
./data/Data/148\Trajectory
./data/Data/149\Trajectory
./data/Data/150\Trajectory
./data/Data/151\Trajectory
./data/Data/152\Trajectory
./data/Data/153\Trajectory
./data/Data/154\Trajectory
./data/Data/155\Trajectory
./data/Data/156\Trajectory
./data/Data/157\Trajectory
./data/Data/158\Trajectory
./data/Data/159\Trajectory
./data/Data/160\Trajectory
./data/Data/161\Trajectory
./data/Data/162\Trajectory
./data/Data/163\Trajectory
./data/Data/164\Trajectory
./data/Data/165\Trajectory
./data/Data/166\Trajectory
./data/Data/167\Trajectory
./data/Data/168\Trajectory
./data/Data/169\Trajectory
./data/Data/170\Trajectory
./data/Data/171\Trajectory
./data/Data/172\Trajectory
./data/Data/173\Trajectory
./data/Data/174\Trajectory
./data/Data/175\Trajectory
./data/Data/176\Trajectory
./data/Data/177\Trajectory
./data/Data/178\Trajectory
./data/Data/179\Trajectory
./data/Data/180\Trajectory
./data/Data/181\Trajectory

Concat data

In [3]:
# Concatenate all DataFrames into one
gps_data = pd.concat(dataframes, ignore_index=True)
gps_data

,person,0,1,2,3,4,5,6
0,0,39.984702,116.318417,0,492.000000,39744.120185,2008-10-23,02:53:04
1,0,39.984683,116.318450,0,492.000000,39744.120255,2008-10-23,02:53:10
2,0,39.984686,116.318417,0,492.000000,39744.120313,2008-10-23,02:53:15
3,0,39.984688,116.318385,0,492.000000,39744.120370,2008-10-23,02:53:20
4,0,39.984655,116.318263,0,492.000000,39744.120428,2008-10-23,02:53:25
...,...,...,...,...,...,...,...,...
24876973,18669,40.914867,111.710500,0,3802.493438,39521.152731,2008-03-14,03:39:56
24876974,18669,40.914267,111.710333,0,3795.931759,39521.153669,2008-03-14,03:41:17
24876975,18669,40.912467,111.710667,0,3795.931759,39521.154884,2008-03-14,03:43:02
24876976,18669,40.911517,111.711317,0,3779.527559,39521.155185,2008-03-14,03:43:28
24876977,18669,40.910933,111.711617,0,3802.493438,39521.155324,2008-03-14,03:43:40

Add labels

In [4]:
# Assign column names
column_names = ['Person ID', 'Latitude', 'Longitude', '0', 'Altitude', 'NumDays', 'Date', 'Time']

# Rename columns in the DataFrame
gps_data.columns = column_names
gps_data

,Person ID,Latitude,Longitude,0,Altitude,NumDays,Date,Time
0,0,39.984702,116.318417,0,492.000000,39744.120185,2008-10-23,02:53:04
1,0,39.984683,116.318450,0,492.000000,39744.120255,2008-10-23,02:53:10
2,0,39.984686,116.318417,0,492.000000,39744.120313,2008-10-23,02:53:15
3,0,39.984688,116.318385,0,492.000000,39744.120370,2008-10-23,02:53:20
4,0,39.984655,116.318263,0,492.000000,39744.120428,2008-10-23,02:53:25
...,...,...,...,...,...,...,...,...
24876973,18669,40.914867,111.710500,0,3802.493438,39521.152731,2008-03-14,03:39:56
24876974,18669,40.914267,111.710333,0,3795.931759,39521.153669,2008-03-14,03:41:17
24876975,18669,40.912467,111.710667,0,3795.931759,39521.154884,2008-03-14,03:43:02
24876976,18669,40.911517,111.711317,0,3779.527559,39521.155185,2008-03-14,03:43:28
24876977,18669,40.910933,111.711617,0,3802.493438,39521.155324,2008-03-14,03:43:40

Recude data to Beijing Metro area only

In [6]:
gps_data = gps_data[gps_data['Latitude'] >= 39.43]
gps_data = gps_data[gps_data['Latitude'] <= 40.63]
gps_data = gps_data[gps_data['Longitude'] >= 115.8]
gps_data = gps_data[gps_data['Longitude'] <= 117.2]

gps_data

,Person ID,Latitude,Longitude,0,Altitude,NumDays,Date,Time
0,0,39.984702,116.318417,0,492.000000,39744.120185,2008-10-23,02:53:04
1,0,39.984683,116.318450,0,492.000000,39744.120255,2008-10-23,02:53:10
2,0,39.984686,116.318417,0,492.000000,39744.120313,2008-10-23,02:53:15
3,0,39.984688,116.318385,0,492.000000,39744.120370,2008-10-23,02:53:20
4,0,39.984655,116.318263,0,492.000000,39744.120428,2008-10-23,02:53:25
...,...,...,...,...,...,...,...,...
24876951,18668,39.988783,116.299000,0,114.829396,39495.446632,2008-02-17,10:43:09
24876952,18668,39.989500,116.298667,0,98.425197,39495.447176,2008-02-17,10:43:56
24876953,18668,39.990067,116.298350,0,131.233596,39495.447523,2008-02-17,10:44:26
24876954,18668,39.989517,116.298417,0,150.918635,39495.448183,2008-02-17,10:45:23
24876955,18668,39.989650,116.298117,0,170.603675,39495.448322,2008-02-17,10:45:35

Save data

In [5]:
# Save DataFrame to a CSV file
gps_data.to_csv('../model/gps_data.csv', index=False)

Load Labels

In [ ]:
# Create an empty list to store DataFrames
dataframes = []

# Traverse through user directories
for user_folder in os.listdir(data_path):
	user_folder_path = os.path.join(data_path, user_folder)

	labels_file_path = os.path.join(user_folder_path, 'labels.txt')
					
	# Check if the labels file exists
	if os.path.exists(labels_file_path):
		labels_df = pd.read_csv(labels_file_path, sep='\t')
		
		dataframes.append(labels_df)

labels_data = pd.concat(dataframes, ignore_index=True)
labels_data

In [ ]:
# Save DataFrame to a CSV file
labels_data.to_csv('../model/labels_data.csv', index=False)