Import Data

In [1]:
import pandas as pd
import os
from tqdm import tqdm

# Path to data
data_path = '../data2/taxi_log_2008_by_id'

Load data

In [2]:
dataframes = []

for file in tqdm(os.listdir(data_path)):
	file_path = os.path.join(data_path, file)

	try:
		column_names = ['Taxi ID', 'Timestamp', 'Longitude', 'Latitude']
		labels_df = pd.read_csv(file_path, sep=',', names=column_names)

		dataframes.append(labels_df)
	except pd.errors.EmptyDataError:
		continue

  0%|          | 0/10357 [00:00<?, ?it/s]

100%|██████████| 10357/10357 [01:33<00:00, 110.39it/s]

Concat Data

In [3]:
gps_data = pd.concat(dataframes, ignore_index=True)
gps_data

C:\Users\danstorm\AppData\Local\Temp\ipykernel_8428\1014957571.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  gps_data = pd.concat(dataframes, ignore_index=True)

         Taxi ID            Timestamp  Longitude  Latitude
0              1  2008-02-02 15:36:08  116.51172  39.92123
1              1  2008-02-02 15:46:08  116.51135  39.93883
2              1  2008-02-02 15:46:08  116.51135  39.93883
3              1  2008-02-02 15:56:08  116.51627  39.91034
4              1  2008-02-02 16:06:08  116.47186  39.91248
...          ...                  ...        ...       ...
17662979    9999  2008-02-08 17:11:13  116.27644  39.99720
17662980    9999  2008-02-08 17:16:15  116.28298  39.99740
17662981    9999  2008-02-08 17:21:17  116.28896  39.99235
17662982    9999  2008-02-08 17:26:19  116.28925  39.98273
17662983    9999  2008-02-08 17:36:23  116.26768  39.90663

[17662984 rows x 4 columns]

Reduce data to Beijing Urban only

In [4]:
gps_data = gps_data[gps_data['Latitude'] >= 39.75]
gps_data = gps_data[gps_data['Latitude'] <= 40.1]
gps_data = gps_data[gps_data['Longitude'] >= 116.18]
gps_data = gps_data[gps_data['Longitude'] <= 116.6]

Save data

In [5]:
# Save DataFrame to a CSV file
gps_data.to_csv('../model/gps_data2.csv', index=False)