Import data

In [4]:
import os
import pandas as pd

# Path to data
data_path = './data/Data/'

Load data

In [5]:
# Create an empty list to store DataFrames
dataframes = []

# Traverse through user directories
for user_folder in os.listdir(data_path):
    user_folder_path = os.path.join(data_path, user_folder)
    
    labels_file_path = os.path.join(user_folder_path, 'labels.txt')
                    
    # Check if the labels file exists
    if os.path.exists(labels_file_path):
        labels_df = pd.read_csv(labels_file_path, sep='\t')
        
        dataframes.append(labels_df)

labels_data = pd.concat(dataframes, ignore_index=True)
labels_data

                Start Time             End Time Transportation Mode
0      2007/06/26 11:32:29  2007/06/26 11:40:29                 bus
1      2008/03/28 14:52:54  2008/03/28 15:59:59               train
2      2008/03/28 16:00:00  2008/03/28 22:02:00               train
3      2008/03/29 01:27:50  2008/03/29 15:59:59               train
4      2008/03/29 16:00:00  2008/03/30 15:59:59               train
...                    ...                  ...                 ...
14713  2008/11/17 06:59:58  2008/11/17 07:06:16                 bus
14714  2008/11/17 07:06:16  2008/11/17 07:14:32                walk
14715  2008/11/29 01:58:05  2008/11/29 02:01:39                 bus
14716  2008/11/29 02:01:39  2008/11/29 02:07:57                walk
14717  2008/11/29 02:07:57  2008/11/29 02:43:37              subway

[14718 rows x 3 columns]

Save data

In [6]:
# Save DataFrame to a CSV file
labels_data.to_csv('./model/labels_data.csv', index=False)