In [2]:
import pandas as pd

Load data

In [3]:
# Load data from the CSV file into a new DataFrame
data = pd.read_csv('./model/gps_data.csv')
data

,Latitude,Longitude,0,Altitude,NumDays,Date,Time
0,39.984702,116.318417,0,492.000000,39744.120185,2008-10-23,02:53:04
1,39.984683,116.318450,0,492.000000,39744.120255,2008-10-23,02:53:10
2,39.984686,116.318417,0,492.000000,39744.120313,2008-10-23,02:53:15
3,39.984688,116.318385,0,492.000000,39744.120370,2008-10-23,02:53:20
4,39.984655,116.318263,0,492.000000,39744.120428,2008-10-23,02:53:25
...,...,...,...,...,...,...,...
24876973,40.914867,111.710500,0,3802.493438,39521.152731,2008-03-14,03:39:56
24876974,40.914267,111.710333,0,3795.931759,39521.153669,2008-03-14,03:41:17
24876975,40.912467,111.710667,0,3795.931759,39521.154884,2008-03-14,03:43:02
24876976,40.911517,111.711317,0,3779.527559,39521.155185,2008-03-14,03:43:28
24876977,40.910933,111.711617,0,3802.493438,39521.155324,2008-03-14,03:43:40